@import url(https://fonts.googleapis.com/css?family=Audiowide);

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;

    background: url('calc_math_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    overflow: hidden;
}

.calc_head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.calc_title {
    font-family: Audiowide, sans-serif;
    text-shadow: 0 0 5px black;
    font-size: 0.9rem;
    font-weight: bolder;
    text-align: left;
}

.solar_tab {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;

    padding: 2px;
    height: min-content;

    background:rgb(109, 109, 109);
    box-shadow:
      inset 1px 1px 7px 0px #050505,
      0px 0px 4px 2px #000,
      0px 0px 4px 2px #777;
    color: #1b1b1b;
}

.solar_tab > div {
    background:rgb(1, 4, 51);
    width: 25px;
    height: 25px;
}

.calculator {
    background: url('brushed_metal.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
    width: 460px;
    text-align: center;
}

.display {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;

    word-wrap: break-word;
    word-break: break-all;

    width: 100%;
    min-height: 90px;
    height: auto;

    background:rgb(89, 99, 57);
    font-family: 'Audiowide', cursive;
    color: #1b1b1b;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow:
      inset 1px 1px 7px 0px #050505,
      0px 0px 4px 2px #000,
      0px 0px 4px 2px #777;
}

.display .previous_number {
    color: rgba(0, 0, 0, 0.507);
    font-size: 0.9rem;
}

.display .current_number {
    font-size: 1.3rem;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.btn {
    flex: auto;
    background: #383838;
    box-shadow: 1px 1px 7px 0px #050505,
      0px 0px 4px 2px #000,
      0px 0px 4px 2px #777;
    width: 80px;
    color: white;
    font-size: 1.5rem;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.btn:active,
.operator:active {
    transform: translateY(2px);
}

.operator {
    background: rgb(0, 118, 148);
}

.delete {
    background: rgb(228, 67, 61);
}
